---
layout: blog
section_id: blog
comments: true
---

<div class='full'>
  <div class='row'>
    <div class='large-9 columns'>
      <div class='mod modBlogPost big no_bg'>
        <div class='image'>
          {% if page.image %}
            <div class='image'><img alt="" src="{{site.url}}/{{page.image}}" /></div>
          {% endif %}
        </div>
        <div class='content'>
          <p class='info'>
            <span>{{page.date | date: "%B %d, %Y" }}</span>
            /
            <span>
              by
              {{page.author}}
            </span>
            /
            <span>
              In
              {% for cat in page.categories %}
                <a href="/category/#{{cat}}">{{cat}}</a>
                {% unless forloop.last %}
                    ,
                {% endunless %}
              {% endfor %}
            </span>
          </p>
          <h3><a href="{{page.url}}">{{page.title}}</a></h3>
          {{ content }}
        </div>
      </div>

      <div class='two spacing'></div>
      <>
      <div id='comments-form'>
        <h3>Comments</h3>
        <div id="disqus_thread"></div>
        <script>
            var disqus_config = function () {
              this.page.url = '{{ page.url | absolute_url }}';
              this.page.identifier = '{{ page.url | absolute_url }}';
            };
            (function() {
                var d = document, s = d.createElement('script');
                s.src = 'https://sephi-me.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>
          Please enable JavaScript to view the 
          <a href="https://disqus.com/?ref_noscript" rel="nofollow">
            comments powered by Disqus.
          </a>
        </noscript>
      </div>
      <div class='four spacing'></div>
    </div>
    <div class='large-3 columns' id='sidebar'>
      {% include sidebar.html %}
    </div>
  </div>
</div>
