---
layout: blog
section_id: blog
---

<div class='full'>
  <div class='row'>
    <div class='large-9 columns'>
      <div class='mod modBlogPost big no_bg'>
        <div class='image'>
          {% if page.image %}
            <div class='image'><img alt="" src="{{site.url}}/{{page.image}}" /></div>
          {% endif %}
        </div>
        <div class='content'>
          <p class='info'>
            <span>{{page.date | date: "%B %d, %Y" }}</span>
            /
            <span>
              by
              {{page.author}}
            </span>
            /
            <span>
              In
              {% for cat in page.categories %}
                <a href="/category/#{{cat}}">{{cat}}</a>
                {% unless forloop.last %}
                    ,
                {% endunless %}
              {% endfor %}
            </span>
          </p>
          <h3><a href="{{page.url}}">{{page.title}}</a></h3>
          {{ content }}
        </div>
      </div>
      <div class='four spacing'></div>
    </div>
    <div class='large-3 columns' id='sidebar'>
      {% include sidebar.html %}
    </div>
  </div>
</div>